.title-container {
    padding:0;
    height: auto;
    width: auto;
    border: none;
    
  }
  
  .title {
    grid-area: nav-header;
    background-color: transparent;
    padding: 0;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: "Snell Roundhand";
    font-weight: normal;
    font-size: 60px;
    text-align: center;
  
  }
  
  .center {
    border:0 ;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .block {
    padding: 10px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
  }
  
  .b1 {
    grid-area: b1g;
    background-color: blue;
    padding: 10px;
  }
  
  .b2 {
    grid-area: b2g;
    background-color: green;
    padding: 10px;
  }
  
  .b3 {
    grid-area: b3g;
    background-color: red;
    padding: 10px;
  }
  .b4 {
    grid-area: b4g;
    background-color: orange;
    padding: 10px;
  }
  .b5 {
    grid-area: b5g;
    background-color: purple;
    padding: 10px;
  }
  
  .my-page-footer {
    grid-area: foot;
    background-color: yellow;
    padding: 10px;
  }
  
  .my-page {
    display: grid;
    grid-template-areas:
      "links links links links links"
      "b1g   b2g   b2g   b2g   b3g"
      "b4g   b5g   b5g   b5g   b5g"
      ".     .    foot   .     . ";
  }
  
  
  
  .nav-links {
    grid-area: links;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: 3px solid black;
    margin: 0;
    padding: 30px;
  }
  
  .section-link {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: #666;
  }
  
  .section-link:hover {
    text-decoration: underline;
  }
  
  h2 {
      font-size: 30px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
  }

/* for JSTests.html */

.color-box {
  background-color: limegreen;
  width: 100px;
  height: 100px;
}
/*done w jstests */



/* for Calculator */

.calc-cont {
  display: flex;
  justify-content: center;

}

.calculator { 
  display: grid;
  height: 600px;
  width: 400px;
  grid-template-rows: [row1-start] 10% [row1-end row2-start] auto [row2-end];
  grid-template-areas: 
  "display   display   display   display"
  "clear     clear     del       div"
  "seven     eight     nine      multi"
  "four      five      six       min"
  "one       two       three     plus"
  "zer       zer       zer       equ"
 ;
}
button {
  background-color: #d8d9db;
  border: 1px solid black;
  font-size: large;
  color:black;
}
button:hover{
  opacity: 80%;;
}
.col-orng {
  background-color: #df974c;
  color: white;
}
.display {
  background-color: black;
  grid-area: display;
  direction: rtl;

  text-align:justify;
  font-size: 30pt;
  height: auto;
  width:auto;
  margin: 0;
  border: none;
  padding: 10px;  
  color: white;
}

.clear {
  grid-area: clear;
}
.del {
  grid-area: del;
} 
.div {
  grid-area: div;

}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.multi {
  grid-area: multi;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.min {
  grid-area: min;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three
}
.plus {
  grid-area: plus;
}
.zer {
  grid-area: zer;
}
.equ {
  grid-area: equ;
}
